@model IEnumerable<DuLichV2.Models.EF.TourCategory>

@if (Model != null && Model.Any())
{
<ul class="sidebar_categories">
    <li><a href="/tour">Tất cả tour</a></li>
    @foreach (var item in Model)
    {
        if (ViewBag.CateId == item.Id)
        {
            <li class="active"><a href="/danh-muc-tour/@item.Alias-@(item.Id)"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>@item.Title</a></li>
        }
        else
        {
            <li><a href="/danh-muc-tour/@item.Alias-@(item.Id)">@item.Title</a></li>
        }

    }

</ul>
}
